* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
     --primary-color: whitesmoke;
    --secondary-color: black; 
    
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--secondary-color);

}

h2{
    font-size: 46px;
    line-height: 54px;
    color: var(--secondary-color);
}

h4{
    font-size: 20px;
    color: var(--secondary-color);
}

p{
    font-size: 16px;
    color: rgb(28, 100, 28);
    margin: 15px 0 20px 0;
}
#icon{
    width: 25px;
    cursor: pointer;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--primary-color);
    box-shadow: 0 5px 10px #fff9f9;
    height: 90px;
    position: sticky;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar.active{
    right: 0px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: blue;

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background-color: blue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
}
#close{
    display: none;
}

#hero{
background-image: url("images/bac.png");
height: 90vh;
width: 100%;
 background-position: top 25% right 0;  
/* background-size: cover; */
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(80, 182, 80);
}
#hero button{
    background-color: rgb(243, 243, 146);
    color: green;
    padding: 8px ;
    border: 8px solid rgb(111, 214, 111);
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 2px 2px 34px rgb(214, 200, 200);
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box h5{
    display: inline-block;
    color: rgb(12, 99, 12);
    background-color: rgb(214, 194, 168);
    padding: 4px 4px;
    border: 1px solid darkgoldenrod;
    margin: 6px;
}
#feature .fe-box:nth-child(2) h5 {
    background-color: rgb(250, 202, 114);
}
#feature .fe-box:nth-child(3) h5 {
    background-color: rgb(183, 241, 241);
}
#feature .fe-box:nth-child(4) h5 {
    background-color: rgb(202, 159, 241);
}
#feature .fe-box:nth-child(5) h5 {
    background-color: pink;
}


#feature .fe-box h5:hover{
    background-color: white;
    color: blue;
}

#feature img{
    width: 150px;
    height: 150px;
   
}
#product1{
    text-align: center;

}
#product1 .pro{
    width: 23px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 34px rgb(201, 188, 188);
    margin: 15px 0;
    
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner/banner.jfif");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    
}
#banner h4 {
    color: white;
    font-size: 25px;
}
#banner h2 {
    color: white;
    padding: 15px 0;
    
}
#banner h2 span{
    color: red;
}
#banner button{
    padding: 8px;
    background-color: green;
    color: white;
    border: 1px solid grey;
    border-radius: 15px;
    
}
#banner button:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
    
}
#page-header{
    background-color: rgb(196, 243, 196);
   width: 100%;
   height: 40vh;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 #prodetails{
     display: flex;
     margin-top: 20px;
 }
 #prodetails #prodesc{
     width: 50%;
     padding-top: 30px;
     padding-left: 35px;

 }
 #pagination{
     text-align: center;
 }
 #pagination a{
      text-decoration: none;
      background-color: rgb(2, 39, 2);
      color: white;
      padding: 4px;
 }
 #pagination button{
     font-weight: bold;
 }
 .small-img-grp{
     display: flex;
     justify-content: space-between;
     width: 200px;
     height: 200px; 
 }
 .small-img-col{
     flex-basis: 24%;
     cursor: pointer;
 }
 #prodesc select{
     display: block;
     padding-bottom: 5px;
 }
 
 #prodesc button{
     background-color: green;
     color: white;
     padding: 8px;
     border-radius: 4px;
     font-weight: bold;
     
    
 }

 #prodesc h5{
     font-size: 25px;
 }
 #prodesc span{
     font-size: 20px;
     padding-bottom: 5px;
 }
 #prodesc h4{
     padding-bottom: 5px;
     padding-top: 30px;

 }

@media (max-width:799px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #fff9f9;
        box-shadow: 0 30px 30px black;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        
    }
    #mobile button{
        background-color: rgb(179, 221, 173);
        font-size: 20px;
        padding: 5px;
        font-weight: bolder;
        border-radius: 10px;

    }
    #mobile button:hover{
        background-color: var(--primary-color);
        color: blue;
        border-color: white;
    }
    #close{
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 20px;
        font-weight: bold;
        background-color: rgb(201, 245, 201);
        padding: 4px;
        border-radius: 8px;
        margin-bottom: 5px;

    }
    
    
}

